{{define "footer"}}
<footer class="footer">
	<p class="footer__text">Copyright 2023 BJSS Academy</p>
	<p class="footer__links">
		<a class="footer__link" href="/about">About</a> - <a class="footer__link" href="https://github.com/Rob-Manders/todo">Github</a>
	</p>
</footer>
{{end}}