@font-face {
  font-family: 'Montserrat';
  src: url(/static/fonts/Montserrat-Regular.woff);
}

@font-face {
  font-family: 'Montserrat';
  src: url(/static/fonts/Montserrat-Bold.woff);
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #252a31;
  color: #c5cedd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2e333c;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 0 1rem;
}

footer {
  font-size: 0.9rem;
  text-align: center;
  opacity: 0.8;
  margin-top: auto;
  margin-bottom: 1rem;
}

a {
  color: #c5cedd;
  outline: none;
  transition: 150ms ease-in-out;
}

a:hover,
a:focus {
  color: #db80db;
}

.header__link {
  text-decoration: none;
}

.container {
  margin: 1.5rem auto;
  max-width: 600px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e333c;
  padding: 1.25rem;
  margin-bottom: 0.75rem;
}

.item__title {
  font-size: 1.25rem;
  margin: 0;
}

.item__delete-button {
  all: unset;
  color: #b5464d;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.item__delete-button:hover,
.item__delete-button:focus-within {
  color: #ff6a73;
}

.form {
  margin-top: 2rem;
}

.form__inner {
  display: flex;
  gap: 0.75rem;
  width: 100%;
  margin-top: 0.75rem;
}

.form__input {
  font-size: 1.25rem;
  background-color: #1e2127;
  color: #c5cedd;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #1e2127;
  transition: 150ms ease-in-out;
}

.form__input:focus {
  border-bottom: 2px solid #ac55ac;
}

.form__button {
  all: unset;
  background-color: #2e333c;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 150ms ease-in-out;
  border-bottom: 2px solid #2e333c;
}

.form__button:hover,
.form__button:focus-within {
  border-bottom: 2px solid #ac55ac;
}